<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=VT323">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="style.css" />
        
        <script src="app.js"></script>
    </head>
    <body ng-app="app" ng-controller="MainCtrl">
        
        <div id="containerTop" ng-click="clickNowhere()">
            
            <div id="outercontent">
                <div id="content">
                    
                    <div class="post post-text">
                        
                        <div class="frame frame-text frame-text-title-reblog">
                            <img class="reblogTootPortait" src="http://38.media.tumblr.com/avatar_1a4a0031dda7_96.png" />
                            <h1>Text post</h1>                           
                            
                        </div>
                        <div class="frame frame-text">
                            <p>This is the placeholder content for a text post. How does it feel to be in a JRPG? I bet you never thought this would ever happen on tumblr. It's amazing, isn't it? I felt like making a theme and here it is. This actually got me the idea to try making an Undertale theme, but I'm gonna try to finish this one first. In case you're wondering about which font I'm using, it's VT232, from the Google Fonts. So what do you think?</p>
                            
                        </div>
                        
                        <div class="frame frame-text">                            
                            <p class="reblogged-from">Reblogged from someone</p><p class="note-count">{NoteCountWithLabel}</p>                            
                        </div>
                    </div>
                    
                    <div class="post post-text">
                        
                        <div class="frame frame-text frame-text-title-reblog">
                            <img class="reblogTootPortait" src="http://38.media.tumblr.com/avatar_1a4a0031dda7_96.png" />
                            <h1>Text post</h1>                           
                            
                        </div>
                        <div class="frame frame-text">
                            <p>This is the placeholder content for a text post. How does it feel to be in a JRPG? I bet you never thought this would ever happen on tumblr. It's amazing, isn't it? I felt like making a theme and here it is. This actually got me the idea to try making an Undertale theme, but I'm gonna try to finish this one first. In case you're wondering about which font I'm using, it's VT232, from the Google Fonts. So what do you think?</p>
                            
                        </div>
                        
                        <div class="frame frame-text">                            
                            <p class="reblogged-from">Reblogged from someone</p><p class="note-count">{NoteCountWithLabel}</p>                            
                        </div>
                    </div>
                    
                    <div class="post post-text">
                        
                        <div class="frame frame-text frame-text-title-reblog">
                            <img class="reblogTootPortait" src="http://38.media.tumblr.com/avatar_1a4a0031dda7_96.png" />
                            <h1>Text post</h1>                           
                            
                        </div>
                        <div class="frame frame-text">
                            <p>This is the placeholder content for a text post. How does it feel to be in a JRPG? I bet you never thought this would ever happen on tumblr. It's amazing, isn't it? I felt like making a theme and here it is. This actually got me the idea to try making an Undertale theme, but I'm gonna try to finish this one first. In case you're wondering about which font I'm using, it's VT232, from the Google Fonts. So what do you think?</p>
                            
                        </div>
                        
                        <div class="frame frame-text">                            
                            <p class="reblogged-from">Reblogged from someone</p><p class="note-count">{NoteCountWithLabel}</p>                            
                        </div>
                    </div>
                    
                    <div class="post post-text">
                        
                        <div class="frame frame-text frame-text-title-reblog">
                            <img class="reblogTootPortait" src="http://38.media.tumblr.com/avatar_1a4a0031dda7_96.png" />
                            <h1>Text post</h1>                           
                            
                        </div>
                        <div class="frame frame-text">
                            <p>This is the placeholder content for a text post. How does it feel to be in a JRPG? I bet you never thought this would ever happen on tumblr. It's amazing, isn't it? I felt like making a theme and here it is. This actually got me the idea to try making an Undertale theme, but I'm gonna try to finish this one first. In case you're wondering about which font I'm using, it's VT232, from the Google Fonts. So what do you think?</p>
                            
                        </div>
                        
                        <div class="frame frame-text">                            
                            <p class="reblogged-from">Reblogged from someone</p><p class="note-count">{NoteCountWithLabel}</p>                            
                        </div>
                    </div>
                    
                </div>
            </div> 
        </div>
        
        <div id="containerBottom">
            
            <div id="popup-menu-container">
                <div id="itemsMenu" class="frame frame-text" ng-show="showItemMenu">
                    <ul>
                        <li><a href=".">Link 1</a></li>
                        <li><a href=".">Link 2</a></li>
                        <li><a href=".">Link 3</a></li>
                        <li><a href=".">Link 4</a></li>
                        <li><a href=".">Link 5</a></li>
                    </ul>
                </div>
            </div>
            
            <div id="bottombar" class="frame">
                
                <img id="avatar" src="http://38.media.tumblr.com/avatar_1a4a0031dda7_128.png" />
                
                <div id="navigation">
                    <table>
                        <tr>
                            <td class="nav-button"><a href="/ask">{AskLabel}</a></td>
                            <td class="nav-button"><a ng-click="toggleItemMenu()">Items</a></td>
                        </tr>
                        <tr>
                            <td class="nav-button"><a href="/submit">{SubmitLabel}</a></td>
                            <td class="nav-button"><a href="https://www.tumblr.com/dashboard">Run</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>
