/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-okt-2015, 12:29:59
    Author     : Jorne
*/


body
{    
    background: black;
}

#containerTop
{
    width: 100%;
    position: relative;
    left: 5px;
    margin-bottom: 138px;
}
#containerBottom
{
    width: 100%;
    bottom: 0px;
    position: fixed;
}

#bottombar
{
    margin: 0 auto;
    width: 800px;
    height: 128px;
    
}

#popup-menu-container
{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

#itemsMenu
{
    display: inline-block;
    
}

#itemsMenu ul
{
    padding: 0px;
}

#itemsMenu ul li
{
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}

#itemsMenu ul li a
{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

#itemsMenu ul li a:hover
{
    color: yellow;
}

#outercontent
{
    margin: 0 auto;
    width: 800px;
    overflow: hidden;
    top: 10px;
}

#content
{
    width: 100%;
    height: 100%;
    //background-color: green;    
    overflow: auto;
    //padding-right: 17px;
}

.frame
{
    border: ridge silver 5px;
    border-radius: 5px;   
    background: linear-gradient(to bottom right, #0000dd, #000033);
    font-size: 1em;
    font-family: "VT323";
    color: white;
}

.frame-text
{
    
}
.frame-text p
{
    margin-left: 20px;
    margin-right: 20px;
}

.frame-text h1
{
    margin-left: 20px;
    margin-right: 20px;
}

#avatar
{
    float: left;
}

#navigation
{
    font-size: 2em;
    padding: 5px;
}

.nav-button
{
    padding: 10px;
}

.nav-button a
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-button a:hover
{
    color: yellow;
}

.post
{
    margin-bottom: 20px;
}

.post-text
{
    
}

.reblogTootPortait
{
    float: left;
    margin-right: 20px;
}

.frame-text-title-reblog
{
    min-height: 96px;
}

.reblogged-from
{
    float: left;
}
.note-count
{
    text-align: right;
}